
<div ng-include="'views/partials/nav.html'">

</div>


<div class="container">

    <div class="col-md-4 text-center view">
        <h2> USER</h2>
        <img src="../views/images/a1.jpg" id="displayPicture">
        <br>
        <button class="btn-default" ng-click="vm.changeProfilePic()">Edit Profile Picture</button>
        <br>
        <h2>GAMES</h2>

        <button class="btn-default" ng-click="vm.getGameList()"> List of Games</button>
        <button class="btn-default" ng-click="vm.addNewGame()"> Add a Game</button>
        <br>
        <h3>My Game Collection</h3>

    </div>

    <div class="col-md-8 view">

        <h2 class="text-center">{{ vm.calendarTitle }}</h2>

        <div class="row">

            <div class="col-md-6 text-center">
                <div class="btn-group">

                    <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                        Previous
                    </button>
                    <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                        Today
                    </button>
                    <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                        Next
                    </button>
                </div>
            </div>

            <br class="visible-xs visible-sm">

            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
                </div>
            </div>

        </div>

        <br>

        <mwl-calendar events="vm.CalendarService.eventObjects" 
                      view="vm.calendarView" 
                      view-title="vm.calendarTitle"
                      view-date="vm.viewDate"
                      on-event-click="vm.eventClicked(calendarEvent)"
                      on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                      cell-is-open="vm.cellIsOpen"
                      day-view-start="06:00"
                      day-view-end="22:59"
                      day-view-split="30"
                      cell-modifier="vm.modifyCell(calendarCell)"
                      cell-auto-open-disabled="true"
                      on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
        </mwl-calendar>
    </div>
</div>
</div>