<div ng-include="'views/partials/nav.html'">

</div>

<div class="container">

    <div class="col-md-4 text-center">
        <h2> {{vm.userObject.userName}}</h2>
        <img class="img-circle" src={{vm.UserService.userObject.profilePic}} id="displayPicture">
        <br>
        <br>
        <div class="btn-group">
            <button class="btn btn-success" ng-click="vm.uploadProfilePicture(userImage.imageUrl)">Upload Profile Image</button>
            <button class="btn btn-danger" ng-click="vm.UserService.logout()">Log Out</button>
        </div>
        <hr>
        <h3>Upcoming Games</h3>
        <div ng-repeat="event in vm.CalendarService.eventObjects | limitTo: 3">
            <a href="" ng-click="isCollapsed = !isCollapsed"> {{event.title}} </a>
            <hr>
            <div uib-collapse="!isCollapsed">
                <!-- <div class="well well"> -->


                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>
                                <strong>Game:</strong>
                                <br>
                                <i>{{event.name}}</i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <td>
                            <strong>Starts At:</strong>
                            <br>
                            <i>{{event.startsAt | date:'MMM d, y h:mm a':'-0600'}}</i>
                        </td>
                        </tr>
                        <tr>

                            <td>
                                <strong>Ends At:</strong>
                                <br>
                                <i>{{event.endsAt | date:'MMM d, y h:mm a':'-0600'}}</i>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-8">

        <h2 class="text-center">{{ vm.calendarTitle }}</h2>

        <div class="row">

            <div class="col-md-6 text-center">
                <div class="btn-group">

                    <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                        Previous
                    </button>
                    <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                        Today
                    </button>
                    <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                        Next
                    </button>
                </div>
            </div>

            <br class="visible-xs visible-sm">

            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
                </div>
            </div>

        </div>

        <br>

        <mwl-calendar events="vm.CalendarService.eventObjects" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate"
            on-event-click="vm.eventClicked(calendarEvent)" on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="vm.cellIsOpen" day-view-start="06:00" day-view-end="22:59" day-view-split="30" cell-modifier="vm.modifyCell(calendarCell)"
            cell-auto-open-disabled="true" on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
        </mwl-calendar>
    </div>
</div>
</div>