<div class="modal-header">
    <h3 class="modal-title">Event action occurred!</h3>
</div>
<div class="modal-body">
    <p>Action:
        <pre>{{ vm.event }}</pre>
    </p>
    <!-- <p>Event:
        <pre>{{ vm.event | json }}</pre> -->
    </p>
    <form>
        Event Title:
        <br>
        <input type="text" ng-model="vm.event.title">
        <br> Starts at:
        <br>
        <input type="datetime-local" ng-model="vm.event.startsAt">
        <br> Color:
        <br>
        <input colorpicker type="text" ng-model="vm.event.color.primary">
        <br>Invite User:
        <br>
        <br>
        <br>
        <!-- <select name="userRepeat" ng-model="vm.event.inviteId">
            <option ng-repeat="user in vm.userArray.list" value="{{user.id}}">{{user.username}}</option>
        </select><br> -->
        <div class="container">
        <div ng-repeat="user in vm.userArray.list" ng-if="$index % 3 == 0" class="row">
            <div class="col-xs-3">
                <img class="img-circle text-center" src={{vm.userArray.list[$index].image_url}} id="displayPicture"><hr>
                {{vm.userArray.list[$index].username}} 
                <input type="checkbox" name="user" ng-value={{vm.userArray.list[$index].id}}>
                <hr>
            </div>
            <div class="col-xs-3 img-circle">
                <img class="img-circle text-center"  src={{vm.userArray.list[$index+1].image_url}} id="displayPicture"><hr>
                {{vm.userArray.list[$index+1].username}}
                <input type="checkbox" name="user" ng-value={{vm.userArray.list[$index+1].id}}>
                 <hr>
            </div>
            <div class="col-xs-3 img-circle">
                <img class="img-circle text-center"  src={{vm.userArray.list[$index+2].image_url}} id="displayPicture"><hr>
                {{vm.userArray.list[$index+2].username}}
                <input type="checkbox" name="user" ng-value={{vm.userArray.list[$index+2].id}}>
                 <hr>
            </div>
                
        </div><br>
        
        </div>
    </form>

</div>
<div class="modal-footer ">
    <div class="text-center">
    <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-info" ng-click="vm.inviteUser(vm.event)">Invite User</button>
        <button class="btn btn-default" ng-click="vm.editEvent(vm.event)">Save Changes</button>
        <button class="btn btn-danger" ng-click="vm.deleteEvent(vm.event); $close()">Delete Event</button>
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>
    </div>
</div>