<div class="modal-header">
    <h3 class="modal-title">{{vm.event.title}}</h3>
</div>
<div class="modal-body">

    <form>
        Event Title:
        <br>
        <input type="text" ng-model="vm.event.title">
        <br> Starts at:
        <br>
        <input type="datetime-local" ng-model="vm.event.startsAt">
        <br> Color:
        <br>
        <input colorpicker type="text" ng-model="vm.event.color.primary">
        <br>Invite Users:
        <br>
        <br>
        <br>
        <div class ="container">
            <div ng-repeat="user in vm.userArray.list">            
                    <img class="img-circle img-responsive" src={{user.image_url}} id="displayPicture">
                    {{user.username}} 
                    <input type="checkbox" name="user" checklist-model="vm.event.invites" checklist-value="user.id"><br><br>
                    
            </div><br><br>

        </div>
    </form>
</div>
<div class="modal-footer ">
    <div class="text-center">
    <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-info" ng-click="vm.inviteUser(vm.event)">Invite Users</button>
        <button class="btn btn-default" ng-click="vm.editEvent(vm.event)">Save Changes</button>
        <button class="btn btn-danger" ng-click="vm.deleteEvent(vm.event); $close()">Delete Event</button>
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>
    </div>
</div>