<div class="modal-header">
    <h3 class="modal-title">Add a New Event!</h3>
</div>
<div class="modal-body">

   
        <div>
            Event Title:<br>
            <input type="text" ng-model="vm.newEvent.title">
            <br>
            Game: <br> 
            <select name="gameRepeat" ng-model="vm.newEvent.game">
                <option ng-repeat="game in vm.gameArray.list" ng-value={{game}}>{{game.name}}</option>
            </select>
            <br>
           Color:<br>
            <input type="text" ng-model="vm.newEvent.color">
            <br>
            Starts At:<br>
            <input type="datetime-local" ng-model="vm.newEvent.startDateTime">
             <br>
             Ends At:<br>
             <input type="datetime-local" ng-model="vm.newEvent.endDateTime">
              <br>
              <br>
              Post Event to Public Calendar:  <input type="checkbox" name="vehicle" ng-model="vm.newEvent.public"><br>
          </div>
    {{vm.newEvent}}
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="vm.addNewEvent(vm.newEvent)">Submit Event</button>

    <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>