<div class="modal-header">
        <h3 class="modal-title">NEW GAME TYPE</h3>
    </div>
    <div class="modal-body">
           
            <div>
                Creator Name:
                <br>
                <input type="text" ng-model="vm.newType.name">
            </div>
           
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="vm.addNewType(vm.newType)">Submit</button>
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>